.footer {
    &__accordion-list {
        position: relative;

        @include media-breakpoint-up(sm) {
            pointer-events: none;
        }

        svg {
            position: absolute;
            right: 0;
            top: 7px;
            display: block;
            transition: var(--duration-default) ease;

            @include media-breakpoint-up(sm) {
                display: none;
            }
        }

        &+.accordion-item {
            display: none;

            @include media-breakpoint-up(sm) {
                display: block;
            }

            li:first-child {
                margin-top: 1.2rem;

                @include media-breakpoint-up(sm) {
                    margin-top: unset;
                }
            }
        }
    }

    &__blocks-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;

        @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(lg) {
            grid-row-gap: 12px;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &-block {
        &--logo {
            display: none;

            @include media-breakpoint-up(sm) {
                display: block;
            }
        }

        &.block-w-100 {
            @include media-breakpoint-up(md) {
                grid-column-start: span 2;
            }

            @include media-breakpoint-up(lg) {
                grid-column-start: span 4;
                text-align: center;
            }
        }

        &__logo {
            height: 100%;

            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }

            a {
                color: var(--color-base-accent-1);
            }
        }
    }
}