.iwtc-section {
  position: relative;
}

.image-with-text-custom__content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10rem 1.8rem;
}

@media screen and (min-width: 990px) {
  .image-with-text-custom__content {
    padding-top: 10rem;
  }
}

.image-with-text-custom__heading {
  margin: 0;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  max-width: 64.8rem;
}

@media screen and (max-width: 989.98px) {
  .image-with-text-custom__heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
  }
}

.image-with-text-custom__list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 6.9rem);
  grid-template-columns: repeat(var(--columns), var(--columns-width));
  column-gap: 7.2rem;
  row-gap: 2.4rem;
  margin: 0;
  margin-top: var(--heading-margin-top);
}

@media screen and (max-width: 989.98px) {
  .image-with-text-custom__list {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(auto-fill, 5.1rem);
    grid-auto-flow: row;
    margin-top: 4rem;
    width: 100%;
    max-width: 35.4rem;
  }
}

.image-with-text-custom__list li {
  color: #f2f2f2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #818181;
  text-transform: uppercase;
}

@media screen and (max-width: 989.98px) {
  .image-with-text-custom__list li {
    font-size: 18px;
    line-height: 27px;
  }
}

.image-with-text-custom__list li span {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
}

@media screen and (max-width: 989.98px) {
  .image-with-text-custom__list li span {
    font-size: 32px;
    line-height: 43px;
  }
}

.image-with-text-custom__media {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.image-with-text-custom__media img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-with-text-custom__media img:not(.mobile) {
  display: none;
}

@media screen and (min-width: 990px) {
  .image-with-text-custom__media img:not(.mobile) {
    display: block;
  }

  .image-with-text-custom__media img.mobile {
    display: none;
  }
}
