.deferred-media-custom__poster {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.media > .deferred-media-custom__poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-banner-custom__poster-wrapper .deferred-media-custom__poster img {
  width: 100%;
  height: 100%;
  position: relative;
}

.product-banner-custom__poster-wrapper
  .deferred-media-custom__poster
  img:not(.mobile):not(.only_one) {
  display: none;
}

@media screen and (min-width: 768px) {
  .product-banner-custom__poster-wrapper
    .deferred-media-custom__poster
    img.mobile:not(.only_one) {
    display: none;
  }

  .product-banner-custom__poster-wrapper
    .deferred-media-custom__poster
    img:not(.mobile):not(.only_one) {
    display: block;
  }
}

.deferred-media-custom {
  overflow: hidden;
}

.deferred-media-custom:not([loaded]) template {
  z-index: -1;
}

.deferred-media-custom[loaded] > .deferred-media-custom__poster {
  display: none;
}

.deferred-media-custom__poster:focus {
  outline-offset: -0.3rem;
}

.deferred-media-custom__poster-button {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.2rem;
  width: 6.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-short) ease,
    color var(--duration-short) ease;
  z-index: 1;
}

.deferred-media-custom__poster-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.deferred-media-custom__poster-button .icon {
  width: 2rem;
  height: 2rem;
}

.deferred-media-custom__poster-button .icon-play {
  margin-left: 0.2rem;
}
