.section-product-banner-custom {
  z-index: 3 !important;
  padding-top: 0;
}

.spaced-section:first-child:not(.image-section).section-product-banner-custom {
  padding-top: 0;
}

.product-banner-custom__images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  margin: 0 auto;
  padding-inline-start: 0;
  max-width: 930px;
}
@media screen and (min-width: 1200px) {
  .product-banner-custom__images {
    max-width: 1110px;
  }
}
.product-banner-custom__poster {
  position: relative;
  width: 100%;
  height: 100%;
  color: rgba(var(--color-foreground), 1);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  overflow: visible;
  z-index: 2;
  cursor: default !important;
}
/* .product-banner-custom__poster::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
  background: rgba(var(--color-overlay), 0.75);
  z-index: 1;
} */
.product-banner-custom__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}
.product-banner-custom__poster-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.product-banner-custom__content {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
  display: flex;
}

.product-banner-custom__content.text-position {
  align-items: flex-start;
  justify-content: center;
  padding: 8rem 6rem;
}

@media (min-width: 768px) {
  .product-banner-custom__content {
    padding: 8rem 6rem;
  }

  .product-banner-custom__content.text-position {
    align-items: var(--ai);
    justify-content: var(--jc);
  }
}
.product-banner-custom__content * {
  margin: 0;
}
.product-banner-custom__content h2 {
  max-width: 87.2rem;
  color: #f2f2f2;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
}
@media screen and (max-width: 767.98px) {
  .product-banner-custom__content h2 {
    font-size: 40px;
    line-height: 53px;
  }
}
.product-banner-custom__text {
  color: #c9c9c9;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  max-width: 44rem;
}
@media screen and (max-width: 767.98px) {
  .product-banner-custom__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.product-banner-custom__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: left;
}
.product-banner-custom__button {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-base-background-2), 0.3);
  color: rgb(var(--color-base-background-2));
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .product-banner-custom__images {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .product-banner-custom__images {
    max-width: 100%;
  }
}
.product-banner-custom__images li {
  position: absolute;
  display: flex;
  align-items: center;
  list-style: none;
  z-index: 3;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .product-banner-custom .images__bottom {
    flex-direction: row-reverse;
    justify-content: flex-end;
    transform: translateY(50%);
    right: 2rem;
    bottom: -4rem;
  }
}
@media screen and (min-width: 768px) {
  .product-banner-custom .images__bottom img:nth-child(1) {
    margin-bottom: 0;
  }
}
