.multicolumn-list {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn--border .multicolumn__wrapper {
  padding: 5rem 0;
  border-top: 0.3rem solid rgb(var(--color-foreground));
  border-bottom: 0.3rem solid rgb(var(--color-foreground));
}

.multicolumn .slider-mobile-gutter:not(:last-child) {
  margin-bottom: 3rem;
}

.multicolumn-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.multicolumn-card--image-five-width .multicolumn-card__image-wrapper {
  flex: 0 0 20%;
  max-width: 20%;
}

.multicolumn-card--image-three-width .multicolumn-card__image-wrapper {
  flex: 0 0 33%;
  max-width: 33%;
}

.multicolumn-card--image-half-width .multicolumn-card__image-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
}

.multicolumn-card .multicolumn-card__image-wrapper {
  min-width: 5rem;
}

.multicolumn-card__info h4 {
  margin: 0 0 2rem 0;
}

.multicolumn .center {
  margin-top: 3rem;
}