.banner {
    position: relative;

    &.fit-to-container {
        &--all {
            margin-right: $page-width-x-paddings-mobile;
            margin-left: $page-width-x-paddings-mobile;
        }

        &--all,
        &--desktop {
            @include media-breakpoint-up(md) {
                margin-right: 5rem;
                margin-left: 5rem;
            }

            @include media-breakpoint-up(xxl) {
                margin-right: 4.86vw;
                margin-left: 4.86vw;
            }
        }

        &--mobile {
            @include media-breakpoint-down(sm) {
                margin-right: $page-width-x-paddings-mobile;
                margin-left: $page-width-x-paddings-mobile;
            }
        }

    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        z-index: 1;
    }

    &--bg-image {

        &>svg,
        .banner__image {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &:not(&--bg-image) {
        .banner__content-box {
            margin-top: 24px;

            @include media-breakpoint-up(xl) {
                margin-top: 40px;
            }
        }
    }

    &>svg,
    &__image {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__image {
        object-fit: cover;
    }

    &__content-wrapper {
        position: relative;
        display: flex;
        height: 100%;
        z-index: 2;

        h2,
        p,
        span {
            color: inherit;
        }
    }

    &__content-box {
        &.content-space-between {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}