.collection-preview {
    h2 {
        margin-bottom: 24px;

        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 28px;
        }
    }

    p {
        margin-bottom: 24px;
        color: $light-gray;

        @include media-breakpoint-up(lg) {
            margin-bottom: 32px;
        }
    }

    &__list {
        display: flex;

        @include media-breakpoint-down(sm) {
            overflow-x: scroll;
            margin-right: calc(-1 * $page-width-x-paddings-mobile);
            margin-left: calc(-1 * $page-width-x-paddings-mobile);
            padding-left: $page-width-x-paddings-mobile;
        }

        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 24px;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 28px;
        }

        &-item {
            @include media-breakpoint-down(sm) {
                .card-wrapper {
                    width: 51.47vw;
                    margin-right: $page-width-x-paddings-mobile;
                }
            }

            &--info {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height: calc((100vw - 10rem - 60px)/4 * 1.516);
                }

                @include media-breakpoint-up(xxl) {
                    height: 470px;
                }

                &.info-reversed {
                    order: -1;
                    text-align: right;

                    a {
                        margin-right: unset;
                        margin-left: auto;
                    }
                }

                a {
                    margin-right: auto;
                }
            }
        }
    }

    &__info {
        @include media-breakpoint-up(lg) {
            display: none;
        }

        &-btn {
            display: flex;
            justify-content: center;
            margin-top: 36px;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
}