.image-with-button {
    display: grid;

    @include media-breakpoint-down(sm) {
        padding: 0 1.6rem;
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.8rem;
    }

    & &__item {
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;

            @include media-breakpoint-down(sm) {
                &.mobile {
                    height: auto;
                }

                &:not(.mobile) {
                    display: none;
                }
            }

            @include media-breakpoint-up(md) {
                &.mobile {
                    display: none;
                }
            }
        }

        &_text {
            width: 100%;

            @include media-breakpoint-down(sm) {
                margin-top: 2.4rem;
            }

            @include media-breakpoint-up(md) {
                padding: 6rem 7rem 0 0;
                max-width: 64rem;
            }

            &.multirow {
                max-width: 100%;

                // @include media-breakpoint-down(sm) {
                //     margin-top: 3.4rem;
                //     margin-bottom: 2rem;
                // }

                @include media-breakpoint-up(md) {
                    padding: 3.2rem 0 0 7.1rem;
                }

                h4 {
                    margin-bottom: 2rem;
                    display: block;
                    font-size: 1.8rem;

                    @include media-breakpoint-down(sm) {
                        margin-bottom: 1.8rem;
                    }

                    @include media-breakpoint-down(sm) {
                        line-height: 2.16rem;
                    }

                    @include media-breakpoint-up(md) {
                        font-size: 2.2rem;
                    }
                }

                p {
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 2.8rem;
                    }

                    @include media-breakpoint-up(md) {
                        margin-bottom: 4.6rem;
                    }
                }

                p.image-with-button__item_tub {
                    margin-bottom: 0;
                    margin-top: 2.4rem;
                    font-size: 1.2rem;

                    @include media-breakpoint-down(sm) {
                        line-height: 1.8rem;
                    }

                    @include media-breakpoint-up(md) {
                        font-size: 1.4rem;
                    }

                    @include media-breakpoint-up(md) {
                        margin-top: 4rem;
                        line-height: 2.1rem;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        margin-left: 3px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .btn {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    letter-spacing: -0.02em;
                    margin-top: 1.2rem;

                    @include media-breakpoint-up(md) {
                        margin-top: 3rem;
                    }
                }

                &+div {
                    & img {
                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                    }
                }
            }

            p {
                color: $light-gray;
                line-height: 2.4rem;

                @include media-breakpoint-down(sm) {
                    margin-bottom: 2.4rem;
                }

                @include media-breakpoint-up(md) {
                    margin-bottom: var(--fs);
                }
            }
        }

        &_heading {
            margin-bottom: 2.4rem;

            @include media-breakpoint-down(sm) {
                display: none;
            }

            &-sm {
                margin-bottom: var(--mb-sm);

                @include media-breakpoint-up(md) {
                    margin-bottom: 2.8rem;
                    display: none;
                }
            }
        }
    }
}