.main-page__container {
    max-width: 750px;
}

.page-title {
    margin-top: 0;
}

.main-page h6 {
    margin: 24px 0 16px 0;
    text-align: center;
    letter-spacing: -0.02em;
}

.main-page__sub-title {
    font-family: 'BC Novatica CYR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.main-page p {
    letter-spacing: 0.04em;
    margin-bottom: 0;
    margin: 16px 0;
    line-height: 21px;
}

.main-page p>strong {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
}

.main-page-title {
    margin-bottom: 22px;
    text-align: center;

    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
}

.main-page .rte ul {
    margin-top: 16px;
    padding-left: 0;
    list-style-type: none;
}

.main-page .rte ul li {
    padding-left: 20px;
    position: relative;
}

.main-page .rte ul li::marker {
    content: "" !important;
    display: none;
}

.main-page .rte ul li::-webkit-details-marker {
    content: "" !important;
    display: none;
}

.main-page .rte ul li::before {
    content: "•";
    display: block;
    margin: 0 7px;
    position: absolute;
    left: 0;
    top: 0;
}

.main-page .rte ul li strong {
    display: contents;
}

.page-placeholder-wrapper {
    display: flex;
    justify-content: center;
}

.page-placeholder {
    width: 52.5rem;
    height: 52.5rem;
}

.main-page li {
    line-height: 21px;
}

.main-page a {
    text-decoration: underline;
}

@media (min-width: 750px) {
    .main-page .rte ul {
        margin-top: 20px;
    }

    .main-page p>strong {
        margin-bottom: 20px;
    }

    .main-page-title {
        margin-bottom: 32px;
    }

    .main-page p {
        margin: 20px 0;
        line-height: 24px;
    }

    .main-page li {
        line-height: 24px;
    }

    .main-page {
        padding-left: 36%;
    }

    .main-page-title {
        margin-bottom: 31px;
        text-align: center;
    }

    .main-page h6 {
        margin: 32px 0 20px 0;
        text-align: center;
    }
}

@media (max-width: 749.98px) {
    .main-page__container {
        padding: 0 16px;
    }
}