.subscribe {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 60px;

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 60px;
        }

        @include media-breakpoint-up(xxl) {
            grid-column-gap: 108px;
        }

        .text-big {
            @include media-breakpoint-up(sm) {
                text-align: center;
            }

            @include media-breakpoint-up(lg) {
                text-align: unset;
            }
        }
    }

    &__form {
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;

        @include media-breakpoint-up(lg) {
            margin-right: unset;
        }

        .field {

            &::before,
            &::after {
                display: none;
            }

            &__input {
                padding: 10px 0;
                border-bottom: 1px solid $light-gray;

                &:focus~.field__label,
                &__input:not(:placeholder-shown)~.field__label,
                &__input:-webkit-autofill~.field__label,
                .customer .field input:focus~label,
                .customer .field input:not(:placeholder-shown)~label,
                .customer .field input:-webkit-autofill~label {
                    top: -2px;
                    left: 0;
                }
            }
        }

        .text-small {
            display: block;
            margin-top: 17px;
        }

        .btn {
            margin-top: 32px;
            display: block;
            margin-left: auto;

            @include media-breakpoint-up(md) {
                margin-top: 22px;
                width: 100%;
            }
        }
    }
}